{% extends "home/index.html" %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='clientes/output.css') }}" rel="stylesheet">
    <title>Editar Categoría</title>
</head>
<body>
    <div class="container">
        <h1>Editar Cliente</h1>
        <form action="{{ url_for('cliente.edit', id=cliente.id) }}" method="POST" class="form">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" value="{{ cliente.nombre }}" required class="form-input"><br>

            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" name="apellido" value="{{ cliente.apellido }}" required class="form-input"><br>

            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" name="direccion" value="{{ cliente.direccion }}" required class="form-input"><br>

            <label for="telefono" class="form-label">Teléfono:</label>
            <input type="text" name="telefono" value="{{ cliente.telefono }}" required class="form-input"><br>

            <input type="submit" value="Actualizar" class="form-submit">
            <a href="{{ url_for('categoria.index') }}" class="btn btn-add">volver</a>
        </form>
    </div>
</body>
</html>
{%endblock%}
