{% extends "home/index.html" %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <title>Editar Categoría</title>
</head>
<body>
    <h1>Agregar Compra de Producto</h1>
    <form action="{{ url_for('compraProducto.add') }}" method="POST">
        <label for="producto">Producto:</label>
        <select name="productos">
            {% for producto in pdata %}
                <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="compras">Compra:</label>
        <select name="compras">
            {% for compra in cdata %}
                <option value="{{ compra.id }}">{{ compra.id }}</option>
            {% endfor %}
        </select><br>

        <label for="cantidad">Cantidad:</label>
        <input type="text" name="cantidad"><br>

        <input type="submit" value="Agregar">
    </form>
</body>
</html>
{%endblock%}